<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calibri Vinyls</title>
    <link rel="stylesheet" href="/output.css">
</head> 

<body class="">

      <Header class="w-width h-40 bg-gray-400 flex items-center justify-center">

        <div class="flex items-center justify-center text-white h-30 w-4/5 bg-blue-400">  

            <!-- SEARCH BAR -->
            <div id="searchInput" class="w-80 h-35 flex items-center justify-center">  
                <label for="search" class="text-sm font-medium text-gray-700"> </label>
                <input

                    type="text"
                    id="search"
                    name="search"
                    placeholder="Search"
                    class="bg-white text-black w-50"
                    
                />
                <button type="submit" class="bg-gray-500  active:scale-95">Search</button>
            </div>

            <!-- WEBSITE TITLE -->
            <div class="w-80 h-35 flex items-center justify-center font-bold text-4xl"> 
                <h1>Calibri Vinyls</h1>
            </div>

            <!-- DROP DOWN MENUS -->
            <div class="w-80 h-35 flex items-center justify-center">

            </div>

      

        </div>

      </Header>

    


        <button id="helloButton" class="">
            Click me
        </button>

        <p id="message" class=""></p>

    <script src="/script.js"></script>
</body>
</html>
